html, body {
  margin: 0;
  font-family: 'Times New Roman', 'Times', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* body {
  position: relative;
}
@media  only screen and (max-width: 992px){
  body {
    position: relative;
  }
} */