.Navbar {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Arial" !important;
    height: fit-content;
    /* position: fixed;
    z-index: 1; */
  }
  .Navbar .navbar-toggler {
    border: none !important;
  }
  .Navbar .signIn {
    width: fit-content;
  }
  .Navbar .col {
    height: fit-content;
  }

  .Navbar .navbar {
    background-color: #f4f4f4
  }
  .Navbar li {
    padding-right: 10px;
  }
  .Navbar li > a {
    font-size: 1rem;
    text-decoration: none;
    color: #000 !important;

  }
  .Navbar .active {
    color: blue !important;
  }

  .Navbar .navbar-dark .navbar-nav .nav-link {
    color: black;
  }
  .Navbar .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(60, 54, 54);
  }
  .Navbar .active {
    color: blue;
    text-align: justify;
  }
  .Navbar .wave-logo {
    height: 2rem;
  }
/* 
@media (min-width: 992px) {
  .Navbar {
    position: fixed;
    width: 100%;
  }
} */

  /* .container-fluid {       
    background-color: #35408E;   
  }
  .navbar-nav a {
    color: #fff !important;
    text-transform: uppercase !important;
    text-decoration: none !important;     
    position: relative !important;
    font-size: small;
  }
  

  .navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent !important;
    bottom: 0 !important;
    content: "";
    display: block !important;
    height: 2px !important;
    left: 50% !important;
    position: absolute !important;
    background: #fff !important;
    transition: width 0.3s ease 0s, left 0.3s ease 0s !important;
    width: 0;
  }
  
  .navbar-nav a:hover:after { 
    width: 100% !important; 
    left: 0 !important; 
  }
  .b-cart-icon {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
  }
  .n-logo {
    width: fit-content;
  }
  .n-logo > img {
    height: 60px;
    width: 60px;
  }
  
  
  @media (min-width: 1092px) {
   
    .navbar-title {
      margin-left: 15px;
    }
    .Navbar .vl {
      border-right: 2px solid #fff;
      height: 50%;
    }
  
  }
  @media (max-width: 992px) {  
    .navbar-nav a:after {    
      background: transparent !important;
    }
    
    .navbar-nav a:hover:after { 
      background: transparent !important;
    }
    .Navbar.vl {
      border-right: 2px solid #35408E;
      height: 50%;
    }
  }

  @media (max-width: 392px) {
    .nu-title {
      margin-left: 5px;
      padding-right: 0;
    }
    .nav-sub {
      font-size: 10px !important;
    }
    
  } */
  /* IMPORTANT NOTES GUYS */
  /* to not override existing design */
  /* h3#issueHeader {
    color: blue !important;
  } */
  
  
  
  