.Exhibits {
    margin: 100px;
    font-family: "Arial" !important;
}
.exhibits-banner {
    height: 300px;
    background-image: url(./img/new_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text-col{
    margin-top: 4.5em;
}

.banner-text {
    transform: translateY(80%);
    color: #FFFFFF;   
    text-align: center;
}
.banner-text > h1 {
    font-size: 50px;
    padding: 0px;
    font-weight: bold;
}
.banner-text > h6 {
    font-size: 20px;
}

hr {
    width: 50%;
    margin: auto; 
}
a {
    text-decoration: none;
    color: black;
    width: fit-content;
}
a :visited {
    color: black;
}
 /* a :hover {
     color: black;
 } */
.exhibit-img > img {
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.exhibit-card {
    box-shadow: 5px 5px 5px #D9DDDC;
    border: 1px solid black;
}

.target-exhibit-kenji {
    box-shadow: 5px 5px 5px #D9DDDC;
    cursor: pointer;    
}

.target-exhibit-kenji:hover {
  opacity: 0.8;
  
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.exhibit-description {
    font-family: "Arial";
    
}
.ex-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    .exhibits-banner {
        height: 150px;
        background-image: url(./img/small_banner.png);
    }
    .banner-text-col{
        margin-top: 0;
    }    
    .banner-text > h1 {
        font-size: 50px;
    }
    .banner-text > h6 {
        font-size: 20px;
    }    
}



