.prod-img > img {
    height: 100px;
  }
  .prod-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .prod-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .prod-card {
    box-shadow: 2px 6px 5px 0px rgba(204,200,204,1);
  }
  
  .button{
    background-color: #474040;
  }