.Gallery {
    /* overflow-x: hidden;
    margin: 0 auto;
    padding: 0 auto; */
    font-family: "Arial" !important;
}
.Gallery .gallery-banner {
    height: 300px;
    background-image: url('./img/gallery_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Gallery .banner-text-col{
    margin-top: 4.5em;
}

.Gallery .banner-text {
    transform: translateY(80%);
    color: #ffffff;   
    text-align: center;
}
.Gallery .banner-text > h1 {
    font-size: 50px;
    padding: 0px;
    font-weight: bold;
}
.Gallery .banner-text > h6 {
    font-size: 20px;
}
.Gallery .card{
    width: 18rem; 
    padding-bottom: 200px;
}


.Gallery .exhibit-description {
    font-family: "Arial";
}

.Gallery .target-exhibit-kenji {
  cursor: pointer;
}

.Gallery .target-exhibit-kenji:hover {
  opacity: 0.5;
}

.Gallery .poster-title{
    font-weight: bolder;
}
.Gallery .row > .shadow {
    height: 500px;
    width: 500px;
    cursor: pointer;
}
.Gallery .poster {
    border: 3px solid black;
    cursor: pointer;
    width: 450px;
    height: 400px;
}
.Gallery a {
    text-decoration: none;
}
.Gallery a:link,.Gallery a:visited,.Gallery a:hover,.Gallery a:active {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .Gallery .col{
        margin-bottom: 15px;
    }
}
