/* .prod-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main-img-container {
    background-color: #ececec;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-img-container > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    
}
.small-img-container {
    margin-top: 10px;
    background-color: #ececec;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.small-img-col > img {
    height: 50px;
    width: 100%;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}
.rating > i {
    padding-left: 2px;
    padding-right: 2px;

}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}
.content {
    text-indent: 50px;
}
.purchase-btn {
    background-color: #fff;
    color: #000;
    box-shadow: #474040 0px 2px 8px 0px;

}
.purchase-btn:hover {
    background-color: blue;
    color: #FFD600 !important;
}
#post {
  background-color: #474040;
  color: #fff;
}

@media (max-width: 392px) {
    .main-img-container > img {
        height: 200px;
        width: 100%;
    }
    .small-img-col > img {
        height: 40px;
        width: 100%;
    }
} */