.Footer {
  /* background-image: url(./img/bgfooter.svg);
  background-repeat: no-repeat;
  object-fit: center; */
  /* height: 36vh; */
  /* background-size: cover; */
  font-family: "Arial" !important;
  background-color: #f4f4f4;    
}
.Footer .col-md-4 {
  height: fit-content;
}
.Footer .col-md-2 {
  height: fit-content;
}
.Footer .li a :hover {
  color:  blue;
}
.Footer .content i {
  cursor: pointer;
}
.Footer .credits img {
  max-height: 5rem;
}
.Footer .footer-text {
  font-size: .7em;
}
.Footer .content li {
  font-size: .7em;
}





