.Footer {
  /* background-image: url(./img/bgfooter.svg);
  background-repeat: no-repeat;
  object-fit: center; */
  /* height: 36vh; */
  /* background-size: cover; */
  background-color: #4d4a4a;    

}





