.Home {
    overflow: hidden !important;
    margin: 0 auto;
    padding: 0 auto;
    max-width: 100% !important;
    
   
    background-color: #F2F2F2;    

}

.bgBlue{
    background-image: url(./img/bgWaveblue.svg);
    background-repeat: no-repeat;
    height: 80vh;
    object-fit: center;
    background-size: cover;
}


.Home .hero {
    background-image: url(./img/NU\ MANILA.png);
    background-repeat: no-repeat;
    height: 100vh;
    object-fit:center;
    background-position: center;
    background-size: cover;
}   
.textH{
    font-family:  futura;
    font-size: 180px;
    padding: 10%;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
    
}


.Home .innovator {
    background-image: url(./img/ino1.png);
    background-repeat: no-repeat;
    object-fit:center;
    background-position: center; 
    background-size: cover;
    height: 25rem;
}

.Home .carousel {
    height: auto;
}
.Home .carousel img {
    width: 100%;
    height: auto;
}

.Home .prod-container > img {
    height: 150px;
}

.products {
    height: 30rem; 
    transform: rotate(20deg) translate(-30%, 30%);
    position: absolute;
    z-index: -1;
}
.paper {
    height: 30rem; 
    transform: rotate(-20deg) translateY(50%);
    position: absolute;
    z-index: -1;
    right: -15rem;
}

.Home .prod-img {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    -webkit-line-clamp: 9; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.img-articles {
    height: 100px
}
.about-us {
    background-image: url(./img/bgwave.svg);
    height: 40vh;
    object-fit: center
}
/* .bg-about{
    width: 100vw;
    position: absolute;
    z-index: -1;
    transform: scaleY(.5);
} */
.row h5 {
    font-size: 36px;
}

.Home .logo-about {
    height: 10rem;
}
.Home .innovator-container {
    width: fit-content !important;
    background-color: blue !important;
}
.Home .innovator-row {
    width: fit-content !important;
    background-color: red !important;
}

.Home .innovator-description {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 25px; 
    -webkit-line-clamp: 8; 
    -webkit-box-orient: vertical;
}

.Home .articles {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    background-color: transparent;
    height: 555px;
}

@media (min-width: 767px) {
    .Home .vl {
        border-right: 1px solid #FDDA0D;
    }
}

/* .feat-title {
    color: #000;
}
.feat-prod {
    color: #000;
}

.card-prod {
  
  border-radius: 10%;
}
.card-prod > img{
    height: 150px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card-innovator > img {
    height: auto;
    width: 50%;
}


.innovator-p {
    word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; 
   -webkit-line-clamp: 20; 
   -webkit-box-orient: vertical;
}
.articles {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    background-color: white;

}
.articles > img {
    max-width: 400px;
}
.article-container {
    box-shadow: 2px 6px 5px 0px #474040;

}
.article-container > img {
    max-width: 400px;
}
.about-container {
    background-color: #99761f;
    box-shadow: 2px 6px 5px 0px #474040;

}
.about-img {
    height: 300px;
}

div.contact {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-banner {
    transform: translateY(150px);
}
.contact-banner > button {
    background-color: transparent;
}
@media (min-width:768px) {
    .vl-innovator {
        border-right: 1px solid #000;
    }
}
@media (max-width: 992px) {
    .innovator-p {
        word-break: break-word;
       overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       line-height: 16px; 
       -webkit-line-clamp: 10; 
       -webkit-box-orient: vertical;
    }
    
    .articles  img {
        max-width: 250px;
    }
    .about-img {
        height: 300px;
        width: 100%;
    }
} */
@media (max-width: 576px) {
    .carousel {
        height: auto;
    }
   
}